html
link( href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet")
link( href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css" rel="stylesheet")
style
    include style.css
body
    main(main class="pa4 black-80")
        form(method='POST' action='/updatepage' class="measure center")
            fieldset( class="ba b--transparent ph0 mh0")
                legend(class="f4 fw6 ph0 mh0") Actualizar Nota
                div(class="mt3")
                    label(class="db fw6 lh-copy f6 pv2" for="title") T&iacute;tulo
                    input(type='text', name='title', class="br2 pa2 input-reset ba bg-transparent b--black-20 pa2 w-100" value=data.title)

                    label(class="db fw6 lh-copy f6 pv2" for="description") Detalle
                    textarea(rows=3, name='description', class="db border-box hover-black w-100 measure ba b--black-20 pa2 br2 mb2" )=data.description
            div(class="ph3 mt4")
                a(href='/index', class="f6 link dim br2 ba ph3 pv2 mb2 mh1 dib red") Cancelar
                input(value='Actualizar' type='submit' class="f6 link dim br2 ba ph3 pv2 mb2 mh1 dib green bg-white")
